#btnrow {
    position: relative;
    bottom: 60px;
    left: 1100px;
}

#btn {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 5px;
    padding: 13px 6.5px;
    transition-duration: 0.3s;
    background-color: #F55353;
    border-radius: 30px;
    font-size: 30px;   
}

#btn:hover {
    transform: scale(1.05);
}