 .videoThumb {
    border-radius: 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 320px;
}
.videoCard {
    background-color: #EEEEEE;
    position: relative;
    left: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 6px;
    padding: 5px;
    border-radius: 5px;
    padding: 4px;
    width: 35%;
    cursor: pointer;
}

.videoDetail {
    position: absolute;
    bottom: 58px;
    left: 5px;
    background-color: #EEEEEE;
    padding: 5px;
    border-radius: 5px;
    padding: 4px;
    width: 900px;
}

iframe {
    width: 900px;
    height: 506px;
    position: absolute;
    top: 113px;
    left: 5px;
    border-radius: 3px;
    border: 4px solid #EEEEEE;
}

.videoText {
    
    padding: 5px;
}