

.articleCard {
    background-color: white;
    margin: 8px;
    border-radius: 3px;
    padding: 5px;
    }

    .thumbnail {
display: inline-block;
    }
    .content {
    display: inline-block;
    }