body {
    background-color: #F1DDBF;
}


.colors {
    color: #F1DDBF;
    color: #525E75;
    color: #78938A;
    color: #92BA92;
}

img {
    height: 360px;
    width: 360px;
    border: 8px solid brown;
    border-radius: 100px;
    margin: 2px;
}

img:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.imageCarousel {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}

.searchbar {
    margin-left: 140px;
    width: 1200px;
}