body {
    background-color: #444941;
}


.colors {
    color: #F1DDBF;
    color: #525E75;
    color: #78938A;
    color: #92BA92;
}

.ImageCardPic {
    width: 350px;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.imageCarousel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 0px 10px;
    grid-auto-rows: 10px;
}

.searchbar {
    margin-left: 140px;
    margin-bottom: 10px;
    width: 1300px;
}

.field {
    width: 1050px;
}

#imageToggle {
    margin-top: 10px;
    margin-left: 30px;
}

#imageToggleLabel {
    display: block;
}

.wikiCarousel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 0px 10px;
    grid-auto-rows: 10px;
}